@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: white;
    font-family: "Poppins", sans-serif;

}

header {
    background-color: black;
    padding: 10px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px 30px;
}

.header-container .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* .main-container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.left-column, .center-column, .right-column {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    flex: 1;
    background-color: #F26522;
    color: white;
}

.center-column {
    flex: 2;
    text-align: center;
}

.center-column h1 {
    margin: 0 0 20px;
}

.center-column img {
    max-width: 100%;
    border-radius: 8px;
}

.right-column {
    flex: 1;
    text-align: center;
    background-color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.social-icons i {
    font-size: 24px;
    color: black;
}

.search-icon {
    margin-bottom: 20px;
}

.search-icon i {
    font-size: 24px;
    color: black;
}

.right-column h2 {
    color: orange;
    margin: 20px 0;
}

.right-column button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


 */

 .main-container {
    width:1200px;
    margin: 20px auto;
    gap: 20px;
    /* padding: 20px; */
}
.left-column{
    position:relative;
    top:70px;
    width:200px;
    height:390px;
    padding-right:250px;
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow:hidden;
    background-color:  #e03e00;
    color: white;
}
.title{
    display:flex;

}
.title h1{
position:relative ;
top:1px;
left:100px;   
font-weight: 700;
font-size:36px;
word-spacing: 10px;
letter-spacing: 1px;;

}

.center-column img{
    position:relative;
     bottom:450px;
     left:225px;
    width:620px;
    height:500px;
    box-shadow: 5px 8px 2px 2px #9a9a9a9e;


}
.right-column {
    display:flex;
    position:relative;
    bottom:937px;
    width:300px;
    left:905px;
    text-align: center;
    background-color: white;
    flex-direction:column;
}

/* .social-icons {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-bottom: 20px;
    flex-direction:column;
    text-align:left;
    padding:20px;
    background-color:rgb(121, 121, 121);
    width:30px;


    
}

.social-icons i {
    font-size: 24px;
    color: black;
    box-shadow: 2px 3px 2px 3px rgba(255, 119, 0, 0.791);
    font-size:28px;


}

.search-icon {
    margin-bottom: 20px;
    text-align:left;
    display:flex;
    flex-direction:column;
    gap: 10px;
    margin-bottom: 20px;
}

.search-icon i {
    font-size: 24px;
    color: black;
    text-align:left;

} */

.right-column h1{
    color: #e03e00;
    margin: 20px 10px;
    text-align:left;
    font-weight:900;
    margin-right:60px;
    font-size:36px;
    position:relative;
    bottom:45px;
    right:25px;
    letter-spacing: 2px;;
    line-height: 130%;;






}

.right-column button {
    background-color: black;
    color: white;
    padding: 6px 5px;
    border: none;
    cursor: pointer;
    font-size: 36px;
    font-weight: 900;
    width:360px;
    box-shadow: 3px 4px 2px 2px  #e03e00;
    position:relative;
    right:100px;
    bottom:60px;

}

.right-column p{
    text-align:left;
    font-weight:bold;
    font-size:larger;
    
}



/* Fazool
 */


 .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 24px;
    margin: 5px 0;
    color: #fff;
    padding: 1px;
    /* border-radius: 50%; */
    background-color: white;
    position: relative;
    right:145px;
    bottom:43px;
    box-shadow: 2px 2px 2px 2px  #e03e00;





}

.icon i {
    position: relative;
    z-index: 1;
    font-size:20px;



}

.icon::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:50px;
    border-radius: 50%;
    background-color: #f8f9fa;
    z-index: -1;
}

.icon:nth-child(1) {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    width:30px;

}

.icon:nth-child(2) {
    background-color: #3b5998;
    width:30px;
}

.icon:nth-child(3) {
    background-color:  #e03e00;
    width:30px;

}

.icon:nth-child(4) {
    background-color: #fff;
    color: #000;
    width:30px;
    margin-top:20px;


}

.icon:nth-child(4)::before {
    box-shadow: 10px 10px 0px 0px rgba(255, 87, 34, 0.5);
}
.cont{
    display:flex;
    justify-content: flex-start;
    position:relative;
    bottom:10px;
    /* left:10px; */
    right:10px;

}
.cont .box{
    width:18px;
    height:100px;
    background-color: #000;


}
.cont p{
    font-weight:normal;
    font-size:larger;
    font-size:17px;
    color:black;
    position:relative;
    bottom:15px;

}

/* About Us Page */




/* About Us Section */
.about-us-section {
    position:relative;
    bottom:900px;

    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
}

.about-us-section h2 {
    color:  #e03e00;
    font-size: 36px;
    font-weight:800;
    margin-bottom: 20px;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-first {
display: flex;
justify-content: center;
margin:50px;
flex:1;
}
.about-us-first img{

    
    width:500%;
    height:320px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px 3px #f2642292;

}

.about-us-first p{
    /* background-color: #33333372; */
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:50px;



}
.about-us-second{
  display: flex;
  justify-content: center;
  margin:50px;
  flex:1;
  position: relative;
  bottom:80px;

}
.about-us-second img{
    width:100%;
    height:320px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px 3px #f2642292;
    position:relative;
    right:20px;
}



/* .about-us-images {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.about-us-images img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(255, 87, 34, 0.5);
} */

.about-us-stats {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    align-items: center;
}


.stat {
    /* text-align: center; */
    position:relative;
    left:30px;
    /* text-align:center; */
    justify-content: center;



    
}

.stat h3 {
    color:  #e03e00;
    font-size: 56px;
    font-weight: bold;
    margin: 0;
    line-height: 5px;;
    text-align:center;
}

.stat p {
    font-size: 16px;
    color: #333;
    text-align: center;
    position: relative;
    right: 12px;
}
/* Why Choose Us */
/* Why Choose Us Section */
.why-choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    bottom: 820px;;
    min-height:600px;

    /* padding: 40px 0; */





}

.why-choose-us-title {
    flex: 1;
    text-align: left;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #000;
    height:700px;
    width:100px;
    box-shadow: 2px 3px 3px 3px #f2642292;




    
}

.why-choose-us-title h2 {
    font-size: 80px;;
    padding-top:120px;
    font-weight: bold;
    color:  #e03e00;
}

.why-choose-us-content {
    display: flex;
    justify-content: space-around;
    flex: 2;
    background-color: rgba(0, 0, 0, 0);
    flex-wrap:wrap

}

.feature {
    text-align: center;
    padding: 40px;
    max-width: 230px;
}

.feature i {
    font-size: 3em;
    color: #000000;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}

.feature h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    color: #000000;
}

.feature p {
    font-size: 1em;
    color: #000000;
}
/* Gallery */


/* .carousel-container {
    text-align: center;
    margin-top: 20px;
}

.gallery-title {
    font-size: 2em;
    color: #ff6600;
    margin-bottom: 20px;
}

.carousel {
    position: relative;
    width: 20%;
    max-width: 1000px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

.carousel-control i {
    font-size: 1.5em;
}
 */




.gallery-container {
    text-align: center;
    position: relative;
    bottom:700px;
}
.gallery-container h2{
    color:  #e03e00;
font-size: 36px;
font-weight:800;
margin-bottom: 0px;
position: relative;
bottom: 50px;;
/* margin-top: 30px; */


}



.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left:6px;
    width: 1250px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    bottom: 20px;;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.images {
    display: flex;
    transition: transform 0.5s ease;
}

.images img {
    width: 200px;
    height: 300px;
    margin: 0 5px;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow i {
    font-size: 20px;
    color: #333;
}

/* Package */

.conta {
    text-align: center;
    position: relative;
    bottom:700px;
}

h1 {
    color:  #e03e00;
    font-size: 36px;
    font-weight:800;
    margin-bottom: 0px;
    position: relative;
    bottom: 50px;;
    margin-top:80px;
}

.packages {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.package {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 350px;
    text-align: left;
    height:350px;
}

.package img {
    width: 100%;
    height: 57%;
}

.package h2 {
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
}

.package p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 70px;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    
}

.rent .price {
    color: #000000;
    font-size: 1.4em;
    font-weight:bold;
    position: relative;
    left:30px;


}

.package .stars {
    padding: 10px;
    color:  #e03e00;
    font-size: 26px;
    position: relative;
    bottom:20px;
}
.rent{
    display:flex;
    align-items: center;
    
}


.container-exploration {
    text-align: center;
    background-color:transparent;
    padding: 50px 20px;
    border-radius: 10px;
    position:relative;
    bottom:680px;
}

h1 {
    color:  #e03e00;
    font-size: 2rem;
    margin-bottom: 40px;
}

.tours {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.tour {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    
}
.tour-cards{
    display:flex;
    padding-left:40px;
    padding-right:40px;
   
 

}
.tour-card{
    position: relative;
    bottom: 30px;
    padding-left:50px;
    padding-right:50px;

}

.tour h2 {
    
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.tour p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    line-height: 13px;
}

.btnn {
    background-color:  #e03e00;
    color: #ffffff;
    border: none;
    padding:10px 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-top:5px;
    font-family: "Poppins", sans-serif;

}

.btnn:hover {
    background-color:  #e03e00;
}

.dots {
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


/* Adventure styling */


.adventure {
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 700px;
  }
  
  .adventure  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 20px;
    padding-left:200px;
    padding-right:200px;
  }
  
  .adventure p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    margin-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
  }
  
   .contact-btn {
    font-size: 1rem;
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-btn:hover {
    background-color: #e03e00;
  }



  .faqqq{
        width: 100%;
        max-width: 800px;
        text-align: center;
        margin:auto;
        position: relative;
        bottom:600px;
      }
      
      h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 30px;
      }
      
      .faq {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      
      .faq-item {
        background-color: #e0e0e0;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        cursor: pointer;
      }
      
      .faq-item p {
        margin: 0;
      }
      
      .plus {
        font-size: 1.5rem;
        font-weight: bold;
      }
  


      /* Footer */


      footer {
        background-color: #000;
        color: white;
        padding: 40px 0;
        
        position: absolute;
        top:5700px;
        left:0;
        right:0;

    }
    
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    
    .footer-column {
        flex: 1;
        padding: 20px;
        min-width: 250px;
    }
    
    .footer-column h3 {
        color: #e03e00;
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .footer-column p, .footer-column ul, .footer-column li {
        font-size: 16px;
        line-height: 1.6;
    }
    
    .footer-column ul {
        list-style-type: none;
        padding: 0;
    }
    
    .footer-column ul li {
        margin-bottom: 10px;
    }
    
    .footer-column ul li a {
        color: white;
        text-decoration: none;
        transition: color 0.3s;
    }
    
    .footer-column ul li a:hover {
        color: #e03e00;
    }
    
    .footer-column .social-icons {
        display: flex;
        gap: 10px;
    }
    
    .footer-column .social-icons a {
        color: white;
        font-size: 20px;
        transition: color 0.3s;
    }
    
    .footer-column .social-icons a:hover {
        color: #e03e00;
    }
    
    .footer-bottom {
        text-align: center;
        padding: 20px 0;
        border-top: 1px solid #444;
        margin-top: 20px;
    }
    
    .footer-bottom p {
        margin: 0;
        font-size: 14px;
        color: #888;
    }

